.slide-right-enter-active, .slide-right-leave-active{
  transition: transform .3s theme('transitionTimingFunction.cubic-bezier'), opacity .2s theme('transitionTimingFunction.cubic-bezier');
}
.slide-right-enter-from, .slide-right-leave-to{
  transform: translateX(30px);
  opacity: 0;
}
